<%message = ["Yes", "No.", "Maybe.", "Possibly.", "I doubt it.", "Definitely.", "Totally.", "Hell no.", "Of course."]%>
<li class="message command"><%=glorify("🎱&mdash;&ldquo;#{message.sample}&rdquo;")%></li>